<h4>{{ value | firstPipe }}</h4>
<button (click)="clrSelection()">Clear Selection</button>
<ag-grid-angular
  [rowData]="rowData$ | async"
  [columnDefs]="colDefs"
  [defaultColDef]="defaultColDef"
  [rowSelection]="'multiple'"
  [animateRows]="true"
  (gridReady)="onGridReady($event)"
  (cellValueChanged)="onCellValueChanged($event)"
  (rowSelected)="onRowSelected($event)"
  class="ag-theme-quartz"
  style="height: 300px; width: 800px"
></ag-grid-angular>
<div *ngFor="let user of users$ | async">
  {{ user.name }}
</div>
<div *ngFor="let user of userName$ | async">
  {{ user }}
</div>
<app-home [parentToChild]="value" (childEmitter)="showObj($event)"></app-home>
